# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# uv
.python-version
uv.lock

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project specific
*.temp
